@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black ;
  --background-start-rgb: #464242;
  --background-end-rgb: #84858C;
}



body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      #DCD0BE
    )
    #F0EBE5 ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
